/* line 1, style.scss */
.wrapper {
  width: 80%;
  margin: auto;
  background: grey;
  padding: 1rem; }
  /* line 6, style.scss */
  .wrapper p {
    color: white;
    padding: .5rem; }
  /* line 10, style.scss */
  .wrapper .content {
    width: 100%;
    background: rgba(0, 0, 0, 0.1); }
    /* line 14, style.scss */
    .wrapper .content h4 {
      background: green;
      color: white; }
    /* line 19, style.scss */
    .wrapper .content p {
      color: white;
      padding: .5rem;
      outline: .2rem solid white; }
